<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.shop.dao.IF_ProductDAO">

  <insert id="insertOne" parameterType="com.shop.vo.ProductVO">
  	
  		 insert into pjproduct values (pproduct_seq.nextval,#{pname},#{brand},#{price},#{stock},#{pinformation},#{pexplain},default)

  	</insert>

  </mapper> 